/* Imports */
@import url("reset.css");

/***** Global *****/
/* Body */
body {
		background: #F5F4EF url('../images/sm_bg.jpg');
		font-size: 87.5%; /* Base font size: 14px */
		font-family: 'Tangerine', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: center;
		
	}

/* Headings */
h2 {font-size: 4em; font-family: 'IM Fell English SC', serif;}	/* 22px */
h3 {font-size: 2.5em}	/* 20px */
h4 {font-size: 2.3em}	/* 18px */
h5 {font-size: 2.0em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
	
	text-shadow: 0 1px 0 #FFFFFF;
}

	
/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #539393;
	padding: 0 1px;
	text-decoration: none;
}
a:hover, a:active {
	background-color: #;
	color: #999;
	text-decoration: underline;
	
}
	
/* Paragraphs */
p{font-size: 2.5em;margin-bottom: 1.143em;

	text-shadow: 0 1px 0 #FFFFFF;
	}
p .largeText{font-size: 2em}
p .easyRead{ font-family: 'IM Fell English SC', serif;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #0CF; color: #fff;}
::selection {background: #0CF; color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 0 0 0 0;
	font-family: 'IM Fell English SC', serif;
}

	/* Banner */
	#banner h1 {font-size: 3.571em; line-height: .6;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 100%;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}
	
	#banner h1 strong {font-size: 0.36em; font-weight: normal;}
	
	/* Main Nav */
	#banner nav {
		background: #000305;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; }
	#banner nav li {float: left; display: inline; margin: 0;}
	
	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
		
	}
	
footer {
	position: fixed;
	width:100%;
	height: 33px;
	bottom:0;
	clear:both;
	background: #000305;
	font-family: 'IM Fell English SC', serif;
	padding-top:20px;
	text-decoration:none;
	font-size: 1em;
	border-top:3px solid #539393 ;
	
	}
	
footer nav ul {list-style: none; margin: 0 auto;text-decoration:none;	}
footer nav li {text-align: center; display: inline; margin: 0;text-decoration:none;	padding-right: 20px; }	
	
	
footer a{ text-decoration:none;	}

footer a:hover, a:active {
	background-color: #FFF;
	color: #000;
	text-decoration: none;
	
}
